* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --main-orange: hsl(35, 77%, 62%);
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--main-orange);
}

body {
  all: unset;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0 50px;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav__link {
  color: hsl(0, 0%, 40%);
  font-weight: 500;
  text-decoration: none;
}

.grid {
  width: 1050px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "main     main    aside"
    "ranking ranking ranking";
  grid-column-gap: 30px;
  grid-row-gap: 60px;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;

}

.main-wrapper {
  display: flex;
  margin-top: 30px;
}

.main__title, .description-wrapper {
  flex: 1;
}

.main__title {
  font-size: 52px;
  font-weight: 800;
  line-height: 3.15rem;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  color: hsl(0, 0%, 40%);
  font-size: 15px;
  line-height: 1.3rem;
}

.read-more {
  background-color: hsl(5, 85%, 63%);
  color: white;
  padding: 15px 30px;
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 32px;
}

.read-more:hover {
  background-color: black;
}

.new {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(240, 100%, 5%);
  padding: 30px 22px;
}

.new__tag {
  color: var(--main-orange);
  font-size: 36px;
}

.new__title {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.new__description {
  color: hsl(233, 8%, 65%);
  font-size: 14px;
  line-height: 1.5rem;
}

.line-break {
  height: 1px;
  background-color: hsl(233, 8%, 40%);
  border: none;
}

.ranking {
  grid-area: ranking;
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.ranking-wrapper {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.image-container {
  margin-right: 25px;
}

.ranking__image {
  height: 120px;
  /* object-fit: cover;
  width: 100%; */
}

.ranking-content-wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.ranking__number {
  color: hsl(255, 3.6%, 80%);
  font-size: 30px;
}

.ranking__title {
  font-size: 16px;
  font-weight: 800;
  margin: 10px 0;
}

.ranking__description {
  color: hsl(233, 8%, 40%);
  font-size: 14px;
  line-height: 1.5rem;
}

@media only screen and (max-width: 400px) {
  .body {
    width: 375px;
  }
  .grid {
    width: 350px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "main"
    "aside"
    "ranking";
  }

  .header {
    width: 350px;
    margin: 30px 0;
  }

  .logo {
    width: 50px;
  }

  .nav__link {
    display: none;
  }

  .main {
    width: 350px;
    align-items: center;
  }

  .main-wrapper {
    flex-direction: column;
  }

  .main__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }

  .main__image {
    width: 350px;
    height: 350px;
    object-fit: cover;
  }

  .new__tag {
    margin-bottom: 25px;
  }

  .line-break {
    margin: 25px 0;
  }

  .ranking {
    flex-direction: column;
  }

}